<div class="container-fluid" style="float: right; text-align: right; margin-top: 10px;" dir="rtl">
  <mat-accordion style="margin:5px;" *ngIf="type == 'lub'">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع بيع الزيوت : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }} الأرباح: {{totalProfit  | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
            <h5>
                <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                    <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                </button>
            </h5> 
            <div  *ngIf="detail.rest == 0"  >
                <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                إسم الموظف:<u>{{detail.empName}}</u>
                </h5>
            </div>
            <div *ngIf="detail.rest > 0 " style="color: brown;">
                <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                    إسم الموظف:<u>{{detail.empName}}</u>
                </h5>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'access'">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع بيع إكسسوارات : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }} الأرباح: {{totalProfit  | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
                </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list" >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <div *ngIf="detail.rest == 0">
                  <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                      إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
                <div *ngIf="detail.rest > 0 "  style="color: brown">
                  <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                      الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                      إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'wash'">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع البيع : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }} الأرباح: {{totalProfit  | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <div *ngIf="detail.rest == 0">
                  <h5>* {{detail.time}}: <u>{{detail.note}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                       إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
                <div *ngIf="detail.rest > 0 "  style="color: brown">
                  <h5>* {{detail.time}}: <u>{{detail.note}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                      الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u>
                       إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'debits'">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع الديون : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <div  *ngIf="detail.quantity != null">
                  <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                      الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                       إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
                <div *ngIf="detail.quantity == null && detail.type == 'wash'"  style="color: brown">
                      <h5>* {{detail.time}}: <u>{{detail.note}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                          الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u>
                           إسم الموظف : <u>{{detail.empName}}</u>
                      </h5>
                </div>
                <div *ngIf="detail.quantity == null && 
                  (detail.type =='dieselG_d' || detail.type == 'dieselR_d' || detail.type == '95_d'|| detail.type == '98_d')"  
                  style="color: brown">
                  <h5>* {{detail.time}}: بيع <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                      الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != ''"> ملاحظة: <u>{{detail.note}}</u></span>
                   إسم الموظف : <u>{{detail.empName}}</u>
                  </h5>
                </div>
            </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'return'">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع المرتجعات : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <h5>* {{detail.time}}: تسديد دين من <u>{{detail.clientName}}</u> مبلغ <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> <span *ngIf="detail.note != ''"> ملاحظة: <u>{{detail.note}}</u></span>  
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'payC'">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع المدفوعات : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list" >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <h5>* {{detail.time}}: مدفوع مبلغ : <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                    إسم الموظف : <u>{{detail.empName}}</u>                
                </h5>
            </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'supply'">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع البضاعة الواردة : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                <div  *ngIf="detail.type == 'access' || detail.type == 'lub'">
                    <h5>* {{detail.time}}: شراء <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                        <span *ngIf="detail.rest > 0">الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u></span> إسم المورد <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                            إسم الموظف : <u>{{detail.empName}}</u>
                    </h5>
                </div>
                <div  *ngIf="detail.type != 'access' && detail.type != 'lub'">
                    <h5>* {{detail.time}}: شراء <u>{{detail.quantity}}</u> من لتر <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                        <span *ngIf="detail.rest > 0">الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u></span> إسم المورد <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                        إسم الموظف : <u>{{detail.empName}}</u>
                    </h5>
                </div>
            </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'allType'">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع الفواتير : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }} الأرباح: {{totalProfit  | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list"  >
        <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
            <h5>
                <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                    <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                </button>
            </h5> 
            <div  *ngIf="detail.rest == 0 && detail.quantity != null && detail.isSupply == 0 && 
                (detail.type == 'access' || detail.type == 'lub')">
                <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div  *ngIf="detail.quantity != null && detail.isSupply == 0 && 
                (detail.type =='Diesel G' || detail.type == 'Diesel R' || detail.type == '95'|| detail.type == '98')">
                <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> لتر من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div  *ngIf="detail.rest != 0 && detail.quantity != null && detail.isSupply == 0 && 
                (detail.type == 'access' || detail.type == 'lub')" style="color: brown">
                <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div  *ngIf="detail.rest != 0 && detail.quantity == null && detail.isSupply == 0 && 
                (detail.type =='dieselG_d' || detail.type == 'dieselR_d' || detail.type == '95_d'|| detail.type == '98_d')" 
                style="color: brown">
                <h5>* {{detail.time}}: بيع <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != ''"> ملاحظة: <u>{{detail.note}}</u></span>
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div *ngIf="detail.quantity == null && detail.type == 'wash' && detail.isSupply == 0 && detail.rest > 0" style="color: brown">
                <h5>* {{detail.time}}: <u>{{detail.note}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u>
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div *ngIf="detail.quantity == null && detail.type == 'wash' && detail.isSupply == 0 && detail.rest == 0">
                <h5>* {{detail.time}}: <u>{{detail.note}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                    إسم الموظف : <u>{{detail.empName}}</u>
                </h5>
            </div>
            <div *ngIf="detail.quantity == null && detail.type == 'payC' && detail.isSupply == 0">
                    <h5>* {{detail.time}}: مدفوع مبلغ : <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                            إسم الموظف : <u>{{detail.empName}}</u>                
                    </h5>
            </div>
            <div *ngIf="detail.quantity == null && detail.type == 'return' && detail.isSupply == 0">
                    <h5>* {{detail.time}}: تسديد دين من <u>{{detail.clientName}}</u> مبلغ <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> <span *ngIf="detail.note != ''"> ملاحظة: <u>{{detail.note}}</u></span>  
                                إسم الموظف : <u>{{detail.empName}}</u>
                    </h5>
            </div>
            <div *ngIf="detail.quantity != null && detail.isSupply == 1" >
                    <h5>* {{detail.time}}: شراء <u>{{detail.quantity}}</u> حبة من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                        <span *ngIf="detail.rest > 0">الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u></span> 
                        إسم المورد <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                        إسم الموظف : <u>{{detail.empName}}</u>
                    </h5>
            </div>
            </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;" *ngIf="type == 'counters'">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                    <h3 style="margin-right:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        مجموع الفيول : {{totalAmount | currency:'ل.ل ':'symbol':'1.0-0' }} الأرباح: {{totalProfit  | currency:'ل.ل ':'symbol':'1.0-0' }}
                    </h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list"  >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails; let i=index" >
                <h5>
                    <button mat-icon-button (click)="deleteInvoice(i,detail.invID,detail.dateTime,detail.type,detail.isSupply,detail.amount,detail.rest,detail.PID,detail.note,detail.fuel_liters,detail.shiftID)" color="warn" tabindex="-1">
                        <mat-icon aria-label="Delete Item" title="Delete Item">close</mat-icon>
                    </button>
                </h5>
                  <div  *ngIf="detail.type =='Diesel G' || detail.type == 'Diesel R' || detail.type == '95'|| detail.type == '98'">
                      <h5>* {{detail.time}}: بيع  <u>{{detail.quantity}}</u> لتر من <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                           إسم الموظف : <u>{{detail.empName}}</u>
                      </h5>
                  </div>
                  <div *ngIf="detail.type =='dieselG_d' || detail.type == 'dieselR_d' || detail.type == '95_d'|| 
                      detail.type == '98_d'" style="color: brown">
                      <h5>* {{detail.time}}: بيع <u>{{detail.name}}</u> بسعر <u>{{detail.amount | currency:'ل.ل ':'symbol':'1.0-0' }}</u> 
                          الباقي <u>{{detail.rest | currency:'ل.ل ':'symbol':'1.0-0' }}</u> إسم الزبون <u>{{detail.clientName}}</u> <span *ngIf="detail.note != null"> ملاحظة: <u>{{detail.note}}</u></span>
                           إسم الموظف : <u>{{detail.empName}}</u>
                      </h5>
                  </div>
                </mat-list-item>
            </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
</div>