<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" >
            <mat-grid-list cols="4" rowHeight="130px" class="tile-container">
                <mat-grid-tile class="tile-grid" (click)="selectAccounting(this.tile.text,i+1)"  
                    *ngFor="let tile of tiles; let i = index" [attr.data-index]="i" 
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                <img style="width: 321px; height: 118px;" class="tile-image" src="../assets/icons/shiftIcons/{{i+1}}.png">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>