
.washingCar:focus{
    border: 1px solid lightblue;
}
.infoSection{
    margin-left: 130px;
    text-align: center;
    width:150px;
    position: absolute;
    background-color:rgb(222, 222, 255);
    border-radius: 8px;
}
.tile-image {
 margin:auto;
 margin-top:-10px;
 margin-left:-1px;
}
.tile-grid{
 padding-top: 10px;
 border: solid lightblue 1px;
}
.selectedTile{
    background-color:red ;
}
.resetSelection{
 background-color:white;
}
.DpriceArrow{
    width:50px;
    // background-color: rgb(67, 176, 209);
    border-radius: 15px;
}
.UpriceArrow{
    width:50px;
    // background-color: rgb(67, 176, 209);
    border-radius: 15px;
}
.UpriceArrow:hover{
    width:52px;
    background-color: rgb(67, 176, 209);
}
.DpriceArrow:hover{
    width:52px;
    background-color: rgb(67, 176, 209);
}
