<div class="container-fluid" style="float: right; text-align: right;height: 600px;padding-top: 10px" dir="rtl" >
  <!-- <h6>back icons options</h6> -->
  <form [formGroup]="debitForm">
      <mat-form-field style="width: 50%;margin-right: 5px;">
        <mat-select placeholder="إسم الزبون" formControlName="personName">
          <mat-option *ngFor="let c of clients " 
          (onSelectionChange)="getSelectedClientData($event,c)" 
          [value]="c.full_name" >{{c.full_name}} | <span style="color:red"> مبلغ الدين: {{c.debitAmount | currency:'ل.ل ':'symbol':'1.0-0' }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    <p>
      <mat-form-field appearance="outline" style="width:20%">
        <mat-label>المبلع</mat-label>
        <input matInput placeholder="المبلع" step="500" type="number" formControlName="paidDebit">
        <mat-hint > <code ><h5 style="width:700%;" *ngIf="debitForm.value.debit != 0 ">الدين: {{debitForm.value.debit | currency:'ل.ل ':'symbol':'1.0-0' }} </h5></code> </mat-hint>
        <!-- <span matPrefi x>$&nbsp;</span> -->
        <span matSuffix>ل.ل&nbsp;</span>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="padding-left: 50px;width:600px">
        <mat-label>ملاحظة</mat-label>
        <input matInput placeholder="ملاحظة" formControlName="comment">
      </mat-form-field>
    </p>
  </form>
    <button style="width:200; height: 45px;"  color="primary" mat-raised-button [disabled]="!debitForm.valid" (click)="submitDebit()">تسجيل</button>
</div>
