
<div class="container-fluid" style="margin-top: 10px;" [style.background-color]="this.debit === 'true' ? 'thistle' : ''">
  <!-- <div><input style="text-align: center " class="form-control searchAccessories" type="text" placeholder="Search.."></div> -->
    <mat-grid-list cols="4" rowHeight="150px" class="tile-container">
            <div>
                <button class="pageIndex" style="margin:2px;" *ngFor="let btn of pageBtns; let i = index" (click)="getSelectedPage(i)" mat-stroked-button>{{btn.text}}</button>
            </div>
        <mat-grid-tile style ="margin-top:55px;" class="tile-grid"  (click)="heightLightSelectedTile(i)"
            *ngFor="let lub of lubricants; let i = index" [attr.data-index]="i" 
            [colspan]="1"
            [rowspan]="1"
            [style.background]="lub.color" [style.border]="this.isDebit === '1' ? 'solid salmon 1px' : ''">
            <div style="width:60%; margin-left:10px;">
                    <h6 style="color:firebrick;width: 200%;margin-top: -60px">{{lub.name}}</h6>
            <mat-form-field style="width:60%">
                <mat-label>Quantity</mat-label>
                <mat-select (selectionChange)="getQuantity($event.value,i);" class="text-center" value="1">
                    <mat-option class="text-center" value="1">1</mat-option>
                    <mat-option class="text-center" value="2">2</mat-option>
                    <mat-option class="text-center" value="3">3</mat-option>
                    <mat-option class="text-center" value="4">4</mat-option>
                    <mat-option class="text-center" value="5">5</mat-option>
                    <mat-option class="text-center" value="6">6</mat-option>
                    <mat-option class="text-center" value="7">7</mat-option>
                    <mat-option class="text-center" value="8">8</mat-option>
                    <mat-option class="text-center" value="9">9</mat-option>
                    <mat-option class="text-center" value="10">10</mat-option>
                    <mat-option class="text-center" value="11">11</mat-option>
                    <mat-option class="text-center" value="12">12</mat-option>
                    <mat-option class="text-center" value="13">13</mat-option>
                    <mat-option class="text-center" value="14">14</mat-option>
                    <mat-option class="text-center" value="15">15</mat-option>
                    <mat-option class="text-center" value="16">16</mat-option>
                    <mat-option class="text-center" value="17">17</mat-option>
                    <mat-option class="text-center" value="18">18</mat-option>
                    <mat-option class="text-center" value="19">19</mat-option>
                    <mat-option class="text-center" value="20">20</mat-option>
                </mat-select>
                <mat-hint *ngIf="invoiceType != 'supply'" style="color:firebrick">Price:{{lub.selling_price | currency:'ل.ل ':'symbol':'1.0-0' }}<br> Stock:{{lub.quantity}}</mat-hint>
                <!-- <mat-hint *ngIf="invoiceType == 'supply'" style="color:firebrick">Price:{{lub.cost}}<br> Stock:{{lub.quantity}}</mat-hint> -->
            </mat-form-field>
            </div>
            <div *ngIf="invoiceType != 'supply'" class="text-center" style="width:50%; margin-left: -30px">
                <img class="tile-image DpriceArrow" src="../assets/icons/washingIcons/upArrow.png" (click)="incPrice(this.lub.totalPrice,i);heightLightSelectedTile(i)">
                <mat-hint><h5  style="color:firebrick">{{lub.totalPrice}}</h5></mat-hint>
                <!-- <mat-hint><h5  style="color:firebrick">{{lub.selling_price * lub.defaultQuan}}</h5></mat-hint> -->
                <img class="tile-image UpriceArrow" src="../assets/icons/washingIcons/downArrow.png" (click)="decPrice(this.lub.selling_price,i);heightLightSelectedTile(i)">
            </div>
            <div>
                <button style="margin-left:-20px;background-color:lightgreen" (click)="sellLub(lub.itemID,lub.name,lub.selling_price,lub.cost,lub.defaultQuan,lub.totalPrice)" mat-fab>
                    <mat-icon style="color:firebrick" matSuffix>subdirectory_arrow_right</mat-icon>
                </button>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div style ="margin-top:55px; height:30px; text-align:center" *ngIf="invoiceType == 'supply'">
            <button style="background-color:#62456f ;text-align:center;width:100px;height:70px; margin-top:20px;border-radius: 10px" mat-raised-button (click)="sellLubRouter()">
                <mat-icon style="color:#08ff08; font-size:50px;margin-bottom: 28px;margin-right: 25px">arrow_forward</mat-icon>
            </button>
        </div>
      <div style ="margin-top:55px; height:30px; float:right">
        <mat-form-field>
            <mat-label>Items/Page</mat-label>
            <mat-select (selectionChange)="setItemPerPage($event.value);" class="text-center" value="12">
                <mat-option class="text-center" value="5">5</mat-option>
                <mat-option class="text-center" value="7">7</mat-option>
                <mat-option class="text-center" value="8">8</mat-option>
                <mat-option class="text-center" value="10">10</mat-option>
                <mat-option class="text-center" value="11">11</mat-option>
                <mat-option class="text-center" value="12">12</mat-option>
                <mat-option class="text-center" value="13">13</mat-option>
                <mat-option class="text-center" value="14">14</mat-option>
                <mat-option class="text-center" value="15">15</mat-option>
                <mat-option class="text-center" value="16">16</mat-option>
                <mat-option class="text-center" value="17">17</mat-option>
                <mat-option class="text-center" value="18">18</mat-option>
                <mat-option class="text-center" value="19">19</mat-option>
                <mat-option class="text-center" value="20">20</mat-option>
                <mat-option class="text-center" value="{{this.totalItems}}">All</mat-option>
            </mat-select>
            <mat-hint style="color:black;">showing {{this.itemPerPage}} from {{this.totalItems}} </mat-hint>
        </mat-form-field>
      </div>
</div>