<div id="fuelContView" class="container-fluid" style="border:1px solid #000000; margin-top: 20px">
  <ng-template #countersModal let-c="close" let-d="dismiss">
      <div class="modal-header noselect">
        <h4 class="modal-title" id="modal-basic-title" style="color:firebrick">{{this.counters[this.index].name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body noselect">
        <form fxLayout="column" autocomplete="off">
          <div class="input-row" fxLayout="row">
            <mat-form-field class="inputField" appearance="outline">
                <mat-label> countainer name / type  </mat-label>
              <input matInput placeholder="Nom de l'article"  type="text" name="nameInput" autofocus>
              <mat-hint> sold liter </mat-hint>
            </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field class="inputField" appearance="outline">
                <mat-label> countainer name / type </mat-label>
              <input matInput placeholder="Colisage" type="number">
              <mat-hint> sold liter</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer noselect">
        <button mat-raised-button name="addButton" color="primary" (click)="addEditStock()" ></button>
      </div>
  </ng-template>

<div *ngFor="let count of counters; let i = index"  class=" dispanserDiv {{count.style}}">
    <span class="dispLabel"> {{count.name }}</span>
  <img (click)="openCountersModal(countersModal,i)" class="dispanser" src="../assets/icons/dispanserIcons/0.png">
</div>

</div>