<div id="fuelContView" class="container-fluid" style="border:1px solid #000000; margin-top: 20px">
  <ng-template #countersModal let-c="close" let-d="dismiss">
      <div class="modal-header noselect">
        <h4 class="modal-title" id="modal-basic-title" style="color:firebrick;">{{this.counters[this.index].name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body noselect">
          <form fxLayout="column" autocomplete="off" [formGroup]="counter_1_from">
            <div class="input-row" fxLayout="row">
              <mat-form-field class="inputField" appearance="outline" style="width:100%">
                  <mat-label style="font-size: 40px;font-weight: 200;color:firebrick;opacity: 0.7;"> {{this.counters[this.index].counter_1}} <span style="color:firebrick;font-weight: 100;opacity: 0.5;"> - {{this.counters[this.index-1].type}} </span> </mat-label>
                <input style="font-size:50px;color: firebrick" matInput  type="number" formControlName="counter_1" name="nameInput" [(ngModel)]="counterVal_1">
                <mat-hint *ngIf="(counterVal_1 - this.counters[this.index].counter_1)>0" style="color:purple;font-weight: bold;font-size: 18px">Sold: {{counterVal_1 - this.counters[this.index].counter_1 }} Liters</mat-hint>
              </mat-form-field>
            </div>
        </form>
          <br>
        <form fxLayout="column" autocomplete="off" [formGroup]="counter_2_from">
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field class="inputField" appearance="outline" style="width:100%">
                <mat-label style="font-size: 40px;font-weight: 200;color:firebrick;opacity: 0.7;"> {{this.counters[this.index].counter_2}} <span style="color:firebrick;font-weight: 100;opacity: 0.5;"> - {{this.counters[this.index].type}} </span> </mat-label>
                <input style="font-size:50px;color: firebrick" matInput type="number" formControlName="counter_2" [(ngModel)]="counterVal_2" >
                <mat-hint *ngIf="(counterVal_2 - this.counters[this.index].counter_2)>0" style="color:purple;font-weight: bold;font-size: 18px">Sold: {{counterVal_2 - this.counters[this.index].counter_2 }} Liters</mat-hint>
              </mat-form-field>
            </div>
        </form>
      </div>
      <div class="modal-footer noselect">
        <button mat-raised-button color="primary" (click)="submitCounters(counterVal_1 - this.counters[this.index].counter_1,counterVal_2 - this.counters[this.index].counter_2)">Submit</button>
        <button mat-raised-button color="warn" (click)="reset()">Reset</button>
      </div>
  </ng-template>

  <div *ngFor="let count of counters; let i = index"  class=" dispanserDiv {{count.dispStyle}}">
      <span class="dispLabel"> {{count.name }}</span>
    <img (click)="openCountersModal(countersModal,i,this.counters[i].dispID,this.counters[i-1].contID,this.counters[i].contID,this.counters[i-1].type,this.counters[i].type,this.counters[i-1].cost_liter,this.counters[i].cost_liter,this.counters[i-1].price_liter,this.counters[i].price_liter)" class="dispanser" src="../assets/icons/dispanserIcons/0.png">
  </div>
  <div class="officeDiv">
    <span class="officeLabel">Office</span>
      <img class="office" src="../assets/icons/office.png">    
  </div>
</div>