<div class="container-fluid" dir="rtl" style="margin-top: 10px;">
  <div class="row">
    <div class="col-lg-12" style="text-align: right;">
      <form fxLayout="column" [formGroup]="filterForm" autocomplete="off">    
        <mat-form-field style="width: 50%;">
          <mat-select placeholder="تحديد موظف"  formControlName="empIDs" [(ngModel)]="checked" multiple>
            <mat-option *ngFor="let emp of employees " [value]="emp.empID">{{emp.name}}</mat-option>
          </mat-select>
        </mat-form-field>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field class="inputField" style="width: 25%;">
                <input matInput [matDatepicker]="expDateStart" placeholder="تاريخ البدء" formControlName="fromExpDate">
                <mat-datepicker-toggle matSuffix [for]="expDateStart" tabIndex="-1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #expDateStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="inputField" class="dateFilter" style="width: 25%;">
                <input matInput [matDatepicker]="expDateEnd" placeholder="تاريخ انتهاء" formControlName="toExpDate">
                <mat-datepicker-toggle matSuffix [for]="expDateEnd" tabIndex="-1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #expDateEnd></mat-datepicker>
              </mat-form-field>
            </div>
          </form>
          <button mat-raised-button class="searchFormBtn" name="searchBtn" color="primary" 
          [disabled]="!filterForm.valid" (click)="getShiftDetails() ">إظهار النتيجة</button>
    </div>
    <div class="col-lg-12" *ngIf="shiftDetails != ''"  >
      <div class="container-fluid" style="margin-top: 10px">
        <mat-grid-list cols="4" rowHeight="150px" class="tile-container">
          <mat-grid-tile style ="margin-top:55px;text-align: right" class="tile-grid"
              *ngFor="let shift of shiftDetails; let i = index">
              <h6 style="text-align: center;margin-left:10px"><u>{{i+1}}</u></h6>
                <div>
                  <h6 style="color:firebrick;">
                  الأسم: <span style="color:purple">{{shift.name}}</span><br>
                  تاريخ: <span style="color:purple">{{shift.shift_date}}</span> <br>
                  بدأ الوقت: <span style="color:purple">{{shift.timeIn}}</span><br>
                  إنتهاء الوقت: <span style="color:purple">{{shift.timeOut}}</span><br>
                 بدأ جارور: <span style="color:purple">{{shift.initDrawer | currency:'ل.ل ':'symbol':'1.0-0' }}</span> <br>
                 إنتهاء جارور: <span style="color:purple">{{shift.drawerOut | currency:'ل.ل ':'symbol':'1.0-0' }}</span> </h6>
                </div>
                <div>
                  <button style="margin-right:40px;background-color:lightgreen" 
                  (click)="getDetail(shift.shiftID)" mat-fab>
                      <mat-icon style="color:firebrick" matSuffix>subdirectory_arrow_left</mat-icon>
                  </button>
                </div>
              <!-- </div> -->
          </mat-grid-tile>
        </mat-grid-list>
        <!-- <div  style ="margin-top:55px; height:30px; text-align:center">
            <button style="background-color:lightgreen ;float:center;" (click)="getDetail()" mat-fab>
                <mat-icon style="color:firebrick" matSuffix>arrow_forward</mat-icon>
            </button>
        </div> -->
      </div>
    </div>
</div>