<div style="float: right; text-align: right; height: 600px;padding-top: 10px"
 dir="rtl" class="container-fluid">
  <!-- <h6>back icons options</h6> -->
  <form [formGroup]="paymentCostForm">
    <p>
      <mat-form-field appearance="outline" style="width:20%">
        <mat-label>المبلغ</mat-label>
        <input matInput placeholder="المبلغ" step="500" type="number" formControlName="amount">
        <span matSuffix>ل.ل&nbsp;</span>
        <!-- <mat-hint> <code ><h5 *ngIf="debitForm.value.amountRest != 0 && type != 'washing'">Rest: {{debitForm.value.amountRest}} </h5></code> </mat-hint> -->
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="padding-left: 50px;width:600px">
        <mat-label>ملاحظة</mat-label>
        <input matInput placeholder="ملاحظة" formControlName="comment">
      </mat-form-field>
    </p>
  </form>
    <button style="width:200; height: 45px;"  color="primary" mat-raised-button [disabled]="!paymentCostForm.valid" (click)="postPaymentCost()">تسجيل</button>
</div>