<!-- <div class="container-fluid">
  <mat-accordion style="margin:5px;">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <h3 style="margin-left:550px; color: rgb(97, 64, 111);" mat-button color="primary" >Lubricant: 4000</h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem"><span style="color:black"><h5>lubricant01</h5></span><h5>: Sold 6 Items for total 50,000</h5></mat-list-item>
          <mat-list-item role="listitem"><span style="color:black"><h5>lubricant02</h5></span><h5>: Sold 4 Items for total 20,000</h5></mat-list-item>
          <mat-list-item role="listitem"><span style="color:black"><h5>lubricant03</h5></span><h5>: Sold 3 Items for total 30,000</h5></mat-list-item>
          <mat-list-item role="listitem"><span style="color:black"><h5>lubricant04</h5></span><h5>: Sold 2 Items for total 10,000</h5></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <h3 style="margin-left:550px; color: rgb(97, 64, 111);" mat-button color="primary" >Accessories: 4000</h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>

        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;">
      <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <h3 style="margin-left:550px; color: rgb(97, 64, 111);" mat-button color="primary" >Debits: 4000</h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>

        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <h3 style="margin-left:550px; color: rgb(97, 64, 111);" mat-button color="primary" >Returns: 4000</h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>

        </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:5px;">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <h3 style="margin-left:550px; color: rgb(97, 64, 111);" mat-button color="primary" >Payments: 4000</h3>
              </mat-action-row>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
        </mat-list>tem>
      </mat-expansion-panel>
  </mat-accordion>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" >
      <h2>
        <mat-form-field style="width: 100%;" *ngIf="this.isAdmin == true" >
            <mat-select placeholder="Select employees" [formControl]="shiftIDForm" [(ngModel)]="checked" multiple>
              <mat-option *ngFor="let emp of employees " [value]="emp.shiftID">{{emp.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </h2>
    </div>
    <div class="col-lg-6" style="padding-top: 50px;width: 100%;">
      <h2 >
        <span>Current Drawer: </span>
        <span style="color:green;">{{totalDrawer}}</span>
      </h2>
    </div>
  </div>
  <!-- <h1 style="border:solid lightblue 1px; text-align: center;"> -->
    <!-- <h2 style="border:solid lightblue 1px; text-align: center;"> -->

      <!-- <div > -->
        
        <!-- </div> -->
      <!-- <div > -->
      <!-- </div> -->
    <!-- </h2> -->
  <!-- </h1> -->
    <!-- <div> -->
      <!-- <mat-form-field style="width: 20%;margin-right: 5px;">
        <mat-select placeholder="Select employee" [(value)]="selected"> -->
            <!-- <mat-option (onSelectionChange)="getSelectedEmployeeData($event,e)" 
            [value]="selected.name" >{{selected.name}} -->
             <!-- | <span style="color:red"> Amount: {{c.debitAmount}}</span> -->
            <!-- </mat-option> -->
          <!-- <mat-option *ngFor="let e of employees " 
          [value]="e.name" >{{e.name}} -->
          <!-- | <span style="color:red"> Amount: {{c.debitAmount}}</span> -->
          <!-- (onSelectionChange)="getSelectedEmployeeData($event,e)"  -->
          <!-- </mat-option>
        </mat-select>
      </mat-form-field> -->
    <!-- </div> -->
    <div>
      <mat-grid-list cols="4" rowHeight="130px" class="tile-container">
          <mat-grid-tile class="tile-grid" (click)="selectAccounting(this.tile.text,i+1)"  
              *ngFor="let tile of tiles; let i = index" [attr.data-index]="i" 
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              [style.background]="tile.color">
              <!-- {{i+1}} -->  
            <img style="width: 321px; height: 118px;" class="tile-image" src="../assets/icons/accountingIcons/{{i+1}}.png">
          </mat-grid-tile>
      </mat-grid-list>
    </div>
</div>