<div class="container-fluid">
    <mat-accordion style="margin:5px;" *ngIf="type == 'lub'">
        <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                  <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                      Lubricant: {{totalAmount}} Profit: {{totalProfit}}
                  </h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " detail.rest == detail.rest" >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                <div *ngIf="detail.rest == 0">
                    <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> lubricant for total price <u>{{detail.amount}}</u> 
                        ==> Employee: <u>{{detail.empName}}</u></h5>
                </div>
                <div *ngIf="detail.rest > 0 " style="color: brown">
                        <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> lubricant for total price <u>{{detail.amount}}</u> 
                            rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u>
                            ==> Employee: <u>{{detail.empName}}</u></h5>
                </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'access'">
        <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        Accessories: {{totalAmount}} Profit: {{totalProfit}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div *ngIf="detail.rest == 0">
                      <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> accessories for total price <u>{{detail.amount}}</u> 
                          ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.rest > 0 ">
                          <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> accessories for total price <u>{{detail.amount}}</u> 
                              rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> 
                              ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
            </mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf = " empType != 'admin'">
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div *ngIf="detail.rest == 0">
                      <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> accessories for total price <u>{{detail.amount}}</u></h5>
                  </div>
                  <div *ngIf="detail.rest > 0">
                      <h5><u>{{detail.name}}</u> : Sold <u>{{detail.quantity}}</u> accessories for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u></h5>
                  </div>
              </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'wash'">
        <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                  <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                      Washing: {{totalAmount}}  Profit: {{totalProfit}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
            <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div *ngIf="detail.rest == 0">
                      <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                          ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.rest > 0 ">
                          <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                              rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
            </mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf = " empType != 'admin'">
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div *ngIf="detail.rest == 0">
                      <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u></h5>
                  </div>
                  <div *ngIf="detail.rest > 0">
                      <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u></h5>
                  </div>
              </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'debits'">
        <mat-expansion-panel  [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >Debits: {{totalAmount}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div  *ngIf="detail.quantity != null">
                      <h5><u>{{detail.name}}</u>: Sold <u>{{detail.quantity}}</u> for total price <u>{{detail.amount}}</u> rest <u>{{detail.rest}}</u>
                          client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> 
                          ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'wash'">
                          <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                              rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <!-- <div *ngIf="detail.quantity == null && detail.type == 'payC'">
                      <h5><u>{{detail.clientName}}</u>: Payment for total <u>{{detail.amount}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div> -->
              </mat-list-item>
          </mat-list>
              <mat-list role="list" *ngIf = " empType != 'admin'">
                  <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                      <div  *ngIf="detail.quantity != null">
                          <h5><u>{{detail.name}}</u>: Sold <u>{{detail.quantity}}</u> for total price <u>{{detail.amount}}</u> rest <u>{{detail.rest}}</u>
                              client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u></h5>
                      </div>
                      <div *ngIf="detail.quantity == null && detail.type == 'wash'">
                              <h5><u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                                  rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u></h5>
                      </div>
                      <!-- <div *ngIf="detail.quantity == null && detail.type == 'payC'">
                          <h5><u>{{detail.clientName}}</u>: Payment for total <u>{{detail.amount}}</u></h5>
                      </div> -->
                  </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'return'">
        <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >Returns: {{totalAmount}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <h5><u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> return: <u>{{detail.amount}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
              </mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf = " empType != 'admin'">
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
              <div *ngIf="detail.empType == 0">
                  <h5><u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> return: <u>{{detail.amount}}</u></h5>
              </div>
              </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'payC'">
        <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >Payments: {{totalAmount}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <h5>Payment: <u>{{detail.amount}}</u> Note: <u>{{detail.note}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
              </mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf = " empType != 'admin'">
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
              <div *ngIf="detail.empType == 0">
                  <h5>Payment: <u>{{detail.amount}}</u> Note: <u>{{detail.note}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
              </div>
              </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'supply'">
        <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >Supply : {{totalAmount}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          
          <mat-list role="list" *ngIf = " empType == 'admin'" >
                  <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                      <h5><u>{{detail.clientName}}</u> : supply <u>{{detail.quantity}}</u> name: <u>{{detail.name}}</u> for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </mat-list-item>
              </mat-list>
              <mat-list role="list" *ngIf = " empType != 'admin'">
                  <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div *ngIf="detail.empType == 0">
                      <h5><u>{{detail.clientName}}</u> : supply <u>{{detail.quantity}}</u> name: <u>{{detail.name}}</u> for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u></h5>
                  </div>
                  </mat-list-item>
              </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="margin:5px;" *ngIf="type == 'allType'">
        <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-action-row>
                    <h3 style="margin-left:450px; color: rgb(97, 64, 111);" mat-button color="primary" >
                        Invoice : {{totalAmount}} Profit: {{totalProfit}}</h3>
                </mat-action-row>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngIf = " empType == 'admin'" >
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div  *ngIf="detail.quantity != null && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.name}}</u>: Sold <u>{{detail.quantity}}</u> for total price <u>{{detail.amount}}</u> rest <u>{{detail.rest}}</u>
                          client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> 
                          ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'wash' && detail.isSupply == 0">
                          <h5> Time: {{detail.time}} <u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                              rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'payC' && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u>: Payment for total price <u>{{detail.amount}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'return' && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> return: <u>{{detail.amount}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity != null && detail.isSupply == 1">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u> : supply <u>{{detail.quantity}}</u> name: <u>{{detail.name}}</u> for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u> ==> Employee: <u>{{detail.empName}}</u></h5>
                  </div>
              </mat-list-item>
          </mat-list>
          <mat-list role="list" *ngIf = " empType != 'admin'">
              <mat-list-item role="listitem"  *ngFor="let detail of selectedDetails" >
                  <div  *ngIf="detail.quantity != null && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.name}}</u>: Sold <u>{{detail.quantity}}</u> for total price <u>{{detail.amount}}</u> rest <u>{{detail.rest}}</u>
                          client <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'wash' && detail.isSupply == 0">
                          <h5> Time: {{detail.time}} <u>{{detail.note}}</u> : washing for total price <u>{{detail.amount}}</u> 
                              rest <u>{{detail.rest}}</u> client <u>{{detail.clientName}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'payC' && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u>: Payment for total price <u>{{detail.amount}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity == null && detail.type == 'return' && detail.isSupply == 0">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u> Note: <u>{{detail.note}}</u> return: <u>{{detail.amount}}</u></h5>
                  </div>
                  <div *ngIf="detail.quantity != null && detail.isSupply == 1">
                      <h5> Time: {{detail.time}} <u>{{detail.clientName}}</u> : supply <u>{{detail.quantity}}</u> name: <u>{{detail.name}}</u> for total price <u>{{detail.amount}}</u> 
                          rest <u>{{detail.rest}}</u></h5>
                  </div>
              </mat-list-item>
              </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
  </div>