<div class="container-fluid" dir="rtl" style="margin-top: 20px;float: right; text-align: right" >
  <mat-accordion class="accordion">
      <mat-expansion-panel [expanded]="isOpened === 1" (opened)="togglePanel(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-action-row>
                  <button mat-button color="primary" > {{typeSubmit}} مورد +</button>
                </mat-action-row>
              </mat-panel-title>
        </mat-expansion-panel-header>
       <form [formGroup]="supplierForm">
          <mat-form-field style="text-align: right">
              <input  matInput placeholder="الإسم الكامل" formControlName="name" required>
            </mat-form-field>
        
            <mat-form-field style="padding-left: 10px;text-align: right" >
              <input matInput placeholder="رقم الهاتف" formControlName="phone">
            </mat-form-field>
            
            <mat-form-field style="padding-left: 10px;text-align: right">
              <input matInput type="number" step="500" placeholder="مبلغ الدين" formControlName="initDebitAmount" required  >
              <span matSuffix>ل.ل&nbsp;</span>
            </mat-form-field>
       </form>
        <mat-action-row>
            <button mat-button color="primary" (click)="addEditSupplier()" [disabled]="!supplierForm.valid">{{typeSubmit}}</button>
            <button mat-button color="warn" (click)="collapse()">إلغاء</button>
          </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
  <div><hr></div>
  
  <table class="table table-striped table-bordered table-hover table-sm noselect " id="suppliersDT">
    <thead>
    </thead>
    <tbody #contextScope>
    </tbody>
  </table>
  <p-contextMenu [target]="contextScope" [model]="items" oncontextmenu="return false;"></p-contextMenu>
</div>
<div hidden>
  <button id="deleteBtn" (click)="deleteSupplier()"></button>
  <button id="editBtn" (click)="editFlag=true;openSupplierModal()"></button>
</div>
