#accessDT,#lubDT{
    text-align: center;
  }

  .form-field {
    display: flex;
    width: 50%;
    flex-direction: column;
    font-size: 20px
}
#fuelContView{
  height: 600px;
  width: 100%;
    background-image: url("/../assets/icons/containerIcons/background.png");

}
.container-fluid::after{
    opacity: 0.5;
}
input {
    color: blue;
    font-weight: bold;
}
.tileCol1{
    // background-color:rgb(240,248,255);
    background-color: rgb(230,330,230)
}
.tileCol2{
    background-color:rgb(215, 236, 252);
}
.tileCol3{
    background-color:rgb(188, 221, 250);
}
.tileCol4{
    background-color:rgb(178, 218, 253);
}
.tileCol5{
    background-color:rgb(227, 242, 255);
}   
.container{
    width: 100%;
    height: 100%;
    margin-left: -60px;
}
.containerDiv{
    // width:160px; 
    // height:90px;
    // border: solid thistle 1px;
    // border-radius: 20px;
}
.bottom-1-to-right{
    margin-top:380px;
    // background-color:red;
    margin-left: 200px;
    position: absolute;
}
.bottom-left{
    margin-top:380px;
    // background-color:red;
    position: absolute;
}
.middle-1-to-left{
    margin-top:220px;
    margin-left: 800px;
    position: absolute;
    // background-color:green;
}
.middle-2-to-left{
    margin-top:220px;
    margin-left: 600px; 
    position: absolute;
    // background-color:green;
}
.middle-3-to-left{
    margin-top:220px;
    margin-left: 400px;
    position: absolute;
    // background-color:green;
}
.middle-1-to-right{
    margin-top:100px;
    margin-left: 630px;
    // background-color:blue;
    position: absolute;
}
.contLabel{
    
    // margin-left:-50px;
    font-weight: bold;
    position: absolute;
    margin-top: -60px;
    color:firebrick;
}
.office{
    // width:100%;
    // height: 100%;
}
.officeDiv{
    // width:140px;
    // height:140px;
    margin-top: 120px;
    margin-left: 1010px;
    
}
.officeLabel{
    margin-left:135px;
    font-weight: bold;
    position: absolute;
    margin-top: -25px;
    color:firebrick; 
}
.container:hover{
    background-color:thistle;
    // opacity: 0.5;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:purple;
    font-weight: bolder;
    font-size: 30px;
    background-color: thistle;
}
::ng-deep .mat-tab-label {
    font-size: 20px;
    color:black;
    font-weight: bolder;
}
::ng-deep .mat-focused .placeholder {
    font-size: 20px;
}
::ng-deep .placeholder {
    font-size: 20px;
    color:purple;
}