<div class="container-fluid">
    <h1 style="border:solid lightblue 1px; text-align: center;"><span>Admin Panel </span></h1>
  <mat-grid-list cols="4" rowHeight="130px" class="tile-container">
    <mat-grid-tile class="tile-grid" (click)="selectOperation(this.tile.text,i+1)"  
        *ngFor="let tile of settOperations; let i = index" [attr.data-index]="i" 
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <!-- {{i+1}} --> 
      <img class="tile-image" src="../assets/icons/settings/{{i}}.png">
    </mat-grid-tile>
  </mat-grid-list>
</div>